import: "import React, { PureComponent } from 'react'"

prefix: ""

body: """
  class %{COMPONENT_NAME}% extends PureComponent {
    render () {
      return (
        <div>
        </div>
      )
    }
  }
"""

suffix: ""

export: "export default %{COMPONENT_NAME}%"
